<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <variable name="logDirectory" value="C:\temp\jplayer"/>

  <targets async="true">

    <target xsi:type="File" name="appFile" fileName="${logDirectory}\app_logfile_${date:format=yyyyMMdd}.log"
            layout="${date:format=HH\:mm\:ss.fff}|${uppercase:${level}}|${aspnet-item:variable=CorrelationId}|${callsite}|${message} ${exception:format=tostring}" />

    <target xsi:type="File" name="dbfile" fileName="${logDirectory}\db_logfile_${date:format=yyyyMMdd}.log"
            layout="${date:format=HH\:mm\:ss.fff}|${uppercase:${level}}|${event-properties:item=EventId_Id}|${logger}|${message} ${exception:format=tostring}" />

  </targets>

  <rules>
    <logger name="Microsoft.EntityFrameworkCore.Database.Command*" levels="INFO" writeTo="dbfile" />
    <logger name="JPlayer.*" minlevel="INFO" writeTo="appFile" />
  </rules>
</nlog>